html,
body {
  margin: 0;
  user-select: none;
  font-family: 'Kalam', cursive;
  letter-spacing: 2px;
  word-spacing: 4px;
  background-color: #fffefe;
  scroll-behavior: smooth;
}

/* NAVBAR COMPONENT */

.logo-link {
  font-size: 2rem;
  text-decoration: none;
  color: white;
  padding: 1rem 0;
  font-family: 'Satisfy', cursive;
}

.navbar {
  background-color: #052ec1ea;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 5rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.479);
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  transition: 0.2s ease-in-out;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.493);
}

@media screen and (max-width: 852px) {
  .logo-link {
    font-size: 1.4rem;
  }

  .navbar {
    justify-content: space-between;
    padding: 0.5rem 2rem;
  }

  .nav-link {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .logo-link {
    font-size: 1.2rem;
  }

  .nav-links {
    gap: 1.7rem;
  }

  .nav-link {
    font-size: 0.8rem;
  }
}
