.menu-page {
  color: rgb(0, 0, 36);
  margin: 0 5rem;
}

/* FOOD TYPE HEADING COMPONENT */

.food-type-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.food-type-heading h2 {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.food-type-heading-hr-lines {
  background-color: rgb(43, 43, 43);
  height: 3px;
  width: 100%;
}

.food-type-heading-hr-lines:last-of-type {
  margin-top: 3px;
}

/* FOOD DISPLAY COMPONENT */

.food-display {
  display: flex;
  width: 38vw;

  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid rgb(192, 192, 192);
}

.food-display div {
  margin-left: 1.8rem;
}

.food-display h3 {
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}

.food-display p {
  margin-top: 0.5rem;
}

.food-display-image {
  width: 11rem;
  height: 8rem;
  border-radius: 10px;
}

/* FOOD DISPLAY GRID COMPONENT */

.food-display-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-items: center;
  column-gap: 2rem;
}
