.menu-page {
  color: rgb(0, 0, 36);
  margin: 0 5rem;
}

.menu-page h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 0;
  position: relative;
  top: 2rem;
}

/* FOOD TYPE HEADING COMPONENT */

.food-type-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.food-type-heading h2 {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.food-type-heading-hr-lines {
  background-color: rgb(43, 43, 43);
  height: 3px;
  width: 100%;
}

.food-type-heading-hr-lines:last-of-type {
  margin-top: 3px;
}

/* FOOD DISPLAY COMPONENT */

.food-display {
  display: flex;
  width: 38vw;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid rgb(192, 192, 192);
  gap: 3rem;
}

.food-display-main-content {
  width: 24vw;
}

.food-display h3 {
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}

.food-display p {
  margin-top: 0.5rem;
}

.food-display-description {
  font-family: 'Kalam', cursive;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 2px;
}

/* FOOD DISPLAY GRID COMPONENT */

.food-display-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-items: center;
  column-gap: 2rem;
}

/* FOOD SECTION COMPONENT */
.food-section {
  margin-top: 5rem;
}

/* LIKES COMPONENT */

.likes {
  position: relative;
}

.likes:hover {
  cursor: pointer;
}

.heart-circle {
  border: 1px solid rgba(0, 0, 0, 0.13);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  border-radius: 100px;
  box-shadow: 0 0 4px rgb(175, 175, 175);
  background-color: white;
  position: relative;
  z-index: 2;
}

.heart-circle:hover .heart {
  color: rgb(245, 43, 43);
}

.heart {
  font-size: 1.5rem;
  transition: 0.2s ease-in-out;
}

.like-amount {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.082);
  border-radius: 15px;
  width: 60px;
  height: 55px;
  position: absolute;
  top: 31px;
  left: 2px;
  z-index: 1;
  font-size: 1.05rem;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 0.4rem;
  color: rgba(0, 0, 0, 0.685);
}

.country-picker {
  position: relative;
  top: 1rem;
  font-size: 2rem;
  font-weight: bolder;
}

.country-picker select {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1rem;
  position: relative;
  bottom: 4px;
  margin-left: 1rem;
}

@media screen and (max-width: 1410px) {
  .food-display-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-content: center;
    justify-items: center;
    column-gap: 2rem;
  }
}

@media screen and (max-width: 1128px) {
  .food-display {
    width: 60vw;
  }
  .food-display-main-content {
    width: 50vw;
  }
  .country-picker {
    font-size: 1.5rem;
  }
  .country-picker select {
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    bottom: 1px;
  }
}

@media screen and (max-width: 970px) {
  .food-type-heading h2 {
    font-size: 1.2rem;
  }
  .menu-page h1 {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 970px) {
  .likes {
    display: none;
  }
}

@media screen and (max-width: 852px) {
  .menu-page {
    margin: 2rem;
  }
  .food-display {
    text-align: center;
    flex-direction: column-reverse;
    gap: 0;
  }
}

@media screen and (max-width: 570px) {
  .food-display h3 {
    font-size: 1rem;
  }
  .food-display p {
    font-size: 0.8rem;
  }
  .food-display {
    padding: 1rem;
  }
  .country-picker {
    font-size: 1.2rem;
  }
  .country-picker select {
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
    bottom: 0px;
  }
}
